{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
	"plugins": [
		"prettier-plugin-css-order",
		"prettier-plugin-organize-imports",
		"prettier-plugin-packagejson",
		"prettier-plugin-svelte"
	],
	"tailwindFunctions": [
		"clsx",
		"cn",
		"twMerge"
	],
	"overrides": [
		{
			"files": [
				"*.yaml",
				"*.yml"
			],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
